.tools/
.gradle/
.kotlin/
.idea/
**/build/
target/
local.properties
*.iml
*.log
.DS_Store
captures/
*.podor
*.pod
.env
.env.*
*.keystore
*.jks
androidApp/src/main/jniLibs/
iosApp/*.xcodeproj/
.zcodeignore
